/* PersonalInfo.css */

.personal-info {
  background-color: #bee7f3;
  padding: 2px;
  border-radius: 5px;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.2);
}

.personal-info h2 {
  font-size: 30px;
  color: black;
  text-align: center;
}

.personal-info h3 {
  font-size: 18px;
  color: #666;
  margin-top: 10px;
  text-align: center;
  font-style: italic;
}

.personal-info p {
  font-size: 16px;
  color: #666;
  margin: 5px 0;
  text-align: center;
}

.profile-image {
  width: 150px;
  height: 150px;
  border-radius: 50%;
  border: 2px solid #333;
  margin: 10px auto;
  display: block;
}
